/* ===base=== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: white; }

.test-border, .nav {
  border: 1px solid black; }

/* ===layout=== */
.container {
  display: grid;
  width: 1440px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 800px 600px 600px 600px 777px 447px 350px;
  margin: 0 auto;
  color: white;
  font-size: 30px; }

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: darkred;
  background-image: url(../../assets/img/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }

.brand-1 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: blue; }

.pic-1 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: gray; }

.pic-2 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: green; }

.brand-2 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: blue; }

.pic-3 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: purple; }

.pic-4 {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: lightpink; }

.client {
  grid-column: 1/-1;
  grid-row: 5/6; }

.pic-5-a {
  grid-column: 1/2;
  grid-row: 6/7;
  background-color: black; }

.pic-5-b {
  grid-column: 2/3;
  grid-row: 6/7;
  background-color: silver; }

.footer {
  grid-column: 1/-1;
  grid-row: 7/8;
  background-color: darkgray; }

/* === module === */
.test-border, .nav {
  border: 1px solid black; }

.nav {
  display: flex;
  width: 95%;
  margin-top: 34px;
  justify-content: space-between; }
  .nav__logo p {
    text-transform: uppercase; }
  .nav__main {
    list-style: none; }
  .nav__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.12857143580913544px;
    text-align: left; }
  .nav__title {
    margin-top: 150px;
    font-size: 50px; }

.testi {
  color: #1f0b0b;
  text-align: center;
  margin: 160px auto;
  width: 1110px;
  height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .testi__content {
    display: flex;
    margin: 0 auto;
    height: 100%; }
  .testi__detail {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between; }
  .testi__images {
    width: 72px;
    height: 72px;
    border-radius: 50%; }
  .testi span {
    display: block;
    font-size: small;
    font-weight: 200;
    margin-top: 15px; }
  .testi__title {
    text-transform: uppercase;
    margin-bottom: 30px; }
  .testi p {
    line-height: 1.8; }

/* === state=== */
