@import "../base/extend.scss";

.nav {
    @extend .test-border;
    display: flex;
    width: 95%;
    margin-top: 34px;  
    justify-content: space-between;
    &__logo p {
        text-transform: uppercase;
       
    }
    &__main {
        list-style: none;
    }
    &__link {
        //font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.12857143580913544px;
        text-align: left;

       
        
        
    
    }
    &__title 
    {
        margin-top: 150px;
        font-size: 50px;
    }
}

